<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Monoton|Press+Start+2P" rel="stylesheet">
    <title>Nutrition Store</title>
    <style>
        body {
            background-color: #ffffff;
        }

        input, select {
            height: 3em;
            background-color: #ffffff;
        }

        * {
            font-family: 'Press Start 2P', cursive;
            color: #363636;
            text-align: center;
            list-style-position: inside;
            -webkit-font-smoothing: never;
            font-size: 15px;
            line-height: 2em;
        }

        img {
            align-content: center;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            height: 20%;
            width: auto;
            border-radius: 25px;
        }

        h1 {
            font-size: 30px;
            font-family: 'Press Start 2P', cursive;
            line-height: 1em;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Food Store!</h1>
    <p>Your funds: @Model.Pets.GetSelectedPet().Money ft</p>
    <form action="Buy" method="post">
        <select name="foodName">
            @foreach (var foodOrDrink in Model.FoodAndDrinks.GetList())
            {
                <option value="@foodOrDrink.Name">100 ft @foodOrDrink.Name</option>
            }
        </select>
        <input type="submit" value="BUY" />
        <img src="@Model.Pets.GetSelectedPet().ImageURL" alt="Alternate Text" />
    </form>
    <a href="/Pet">Back</a>
</body>
</html>