<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Anagram Checker</title>
</head>
<body>
    <h1>Anagram checker</h1>
    <p>Welcome to the Anagram checker, enter a word below and it will check if the word is an Anagram or not.</p>
    <form action="CheckAnagram" method="post">
        Enter a word: <input type="text" name="firstWord" value="" />
        Enter a second word: <input type="text" name="secondWord" value="" />
        <input type="submit" value="Confirm" />
    </form>
</body>
</html>
