<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Checked Anagram!</title>
    <style>
        html {
            background-color: black;
        }
        p {
            font-size: 100px;
            color: aquamarine;
        }
    </style>
</head>
<body>
    <p>@Model</p>
</body>
</html>