<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        table, tr, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <a href="Add">Add new todo</a>
    <h1>Todos for today:</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>ACTION</td>
            <td>DONE</td>
            <td>URGENT</td>
        </tr>
        @foreach (var todo in @Model)
        {
        <tr>
            <td>@todo.Id</td>
            <td>@todo.Title</td>
            <td>@todo.IsDone</td>
            <td>@todo.IsUrgent</td>
            <td>
                <a href="Delete?id=@todo.Id">delete</a>
            </td>
            <td>
                <a href="Edit">edit</a>
            </td>
        </tr>
        }
    </table>


</body>
</html>

