<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
    <h1>Add Todos here!</h1>
    <form class="form-group" action="Create" method="post">
        <p>Create new Todo:</p>
        <input type="text" name="title" />
        <input class="btn btn-primary" type="submit" value="Create" />
    </form>
    @*<form action="Delete" method="post">
        <p>Delete by ID:</p>
        <input type="number" name="id" />
        <input type="submit" value="Delete" />
    </form>*@
</body>
</html>
