<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add</title>
</head>
<body>
    <h1>Add Todos here!</h1>
    <form action="Create" method="post">
        <p>Create new Todo:</p>
        <input type="text" name="title" />
        <input type="submit" value="Create" />
    </form>
    @*<form action="Delete" method="post">
        <p>Delete by ID:</p>
        <input type="number" name="id" />
        <input type="submit" value="Delete" />
    </form>*@
</body>
</html>
